<script>
            
 setInterval(function checker(){
// var whole = document.getElementsByTagName( 'body' )[ 0 ].innerHTML
// console.log(whole);
// var pos = whole.indexOf("Fahrradnummer: ");
// if(pos =! -1){
// alert(pos);
// }
window.onclick = e => {
    console.log(e.target);  // to get the element
    console.log(e.target.tagName);  // to get the element tag name alone
} 
 }, 1000);
/*
    window.onload = function() {
    var anchors = document.getElementsByTagName('img');
        console.log("IMG", anchors);
        for(var i = 0; i < anchors.length; i++) {
            var anchor = anchors[i];
            //if(/\bhohoho\b/).match(anchor.className)) {
                anchor.onclick = function() {
                    alert('ho ho ho');
                //}
            }
        }
    }*/
</script>
<body>
<div style="width: 100%; height: 540px;">
            <website-map style="width: 100%; height: 100%" nb-show-legend="1" nb-show-searchbox="1" nb-brands="" nb-lat="51.1242" nb-lng="10.6348" nb-zoom="5" nb-language="de" nb-api-key="Sb3nBnSFEd8KZt1p" nb-api-base-url="https://germany.nextbike.net/" ng-version="12.2.4" class="">
                <div style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;">
                    Die Standortkarte kann nicht angezeigt werden, da die Browserversion nicht unterstützt wird. Bitte aktualisiere deinen Browser.
                </div>
            </website-map>
            <script src="https://templates.nextbike.net/website-components/releases/latest/runtime.js" type="module"></script>
            <script src="https://templates.nextbike.net/website-components/releases/latest/polyfills.js" type="module"></script>
            <script src="https://templates.nextbike.net/website-components/releases/latest/main.js" type="module"></script>
            
        </div>
</body>
